<button type="button" class="inline-flex items-center px-4 py-2 border border-transparent text-sm rounded-full shadow-sm text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500@(string.IsNullOrWhiteSpace(this.ExtraClasses) ? string.Empty : " " + this.ExtraClasses)" @onclick="OnClickCallback">
    @ChildContent
</button>

@code {
    [Parameter]
    public string ExtraClasses { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallback { get; set; }
}
