<h2>Counter</h2>

<p>Current count: @currentCount</p>

<button class="focus:outline-jk hover:outline-jk" type="button" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
