<button class="focus:outline-jk hover:outline-jk" type="button" @onclick="ToggleNavMenu">Menu</button>

<div class="prose @NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="">
        <li class="">
            <NavLink class="" href="https://localhost:5003">
                Home
            </NavLink>
        </li>
        <li class="">
            <NavLink class="" href="https://localhost:5001">
                Static Home afd dsf dsakf jlka jdsj jdsfjlkdslk sajlkf
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "hidden" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
