@page "/"

<div class="mt-12 max-w-xl mx-auto px-2 sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl font-semibold">Sample page for all components</h2>
    <dl class="mt-6 space-y-10 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-8">
        <div>
            <dt class="text-lg font-semibold">
                Navigation sample
            </dt>
            <dd class="mt-3">
                <NavMenu />
            </dd>
        </div>

        <div>
            <dt class="text-lg font-semibold">
                Survey prompt sample
            </dt>
            <dd class="mt-3">
                <SurveyPrompt Title="How is Blazor working for you?" />
            </dd>
        </div>

        <div>
            <dt class="text-lg font-semibold">
                Counter sample
            </dt>
            <dd class="mt-3">
                <Counter />
            </dd>
        </div>
    </dl>
</div>
